:root {
    --transparent-white: hsl(0, 0%, 100%, 0.75);
    --light-grey: hsl(0, 0%, 95%);
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: var(--light-grey);
}

.preview-card-group {
    display: flex;
    width: 60vw;
    margin: auto;
    border-radius: .75rem;
    overflow: hidden;
}

.preview-card {
    color: var(--transparent-white);
    padding: 3rem;
}

.preview-card p {
    line-height: 2rem;
}

.preview-card__cta {
    display: inline-block;
    text-decoration: none;
    margin-top: 5rem;

    border: solid 2px var(--light-grey);
    background: var(--light-grey);
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.preview-card__cta--orange {
    color: var(--orange);
}

a:hover.preview-card__cta--orange {
    border: solid 2px var(--light-grey);
    background: var(--orange);
    color: var(--light-grey)
}

.preview-card__cta--dark-cyan {
    color: var(--dark-cyan);
}

a:hover.preview-card__cta--dark-cyan {
    border: solid 2px var(--light-grey);
    background: var(--dark-cyan);
    color: var(--light-grey)
}

.preview-card__cta--very-dark-cyan {
    color: var(--very-dark-cyan);
}

a:hover.preview-card__cta--very-dark-cyan {
    border: solid 2px var(--light-grey);
    background: var(--very-dark-cyan);
    color: var(--light-grey)
}

.preview-card--orange {
    background: var(--orange);
}

.preview-card--dark-cyan {
    background: var(--dark-cyan);
}

.preview-card--very-dark-cyan {
    background: var(--very-dark-cyan);
}

.preview-card__heading {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--light-grey);
}

@media screen and (max-width: 375px) {
    .preview-card-group {
        display: block;
        width: 80vw;
    }
}
