:root {
    --gray-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-gray-red: hsl(0, 6%, 24%);
    --pink: hsl(0, 74%, 74%);
    --soft-pink: hsl(0, 80%, 86%);
    --white: hsl(0, 0%, 100%);
    --ultra-light-red: hsl(0, 100%, 98%);

}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.hero--desktop {
    width: 35%;
    object-fit: cover;
}

.copy {
    flex: 1;
    background-image: url("./images/bg-pattern-desktop.svg"), linear-gradient(135deg, var(--white), var(--ultra-light-red));;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.content {
    width: 55%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--gray-red);
}

.logo {
    display: block;
}

.heading {
    font-size: 4.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: var(--dark-gray-red);

    margin-top: 6rem;
}

.heading .slim {
    color: var(--gray-red);
    font-weight: 300;
}

.content p {
    line-height: 1.8rem;
}

.email-input {
    position: relative;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-red);
    border-radius: 2rem;

    margin-top: 3rem;
}

.email-input.invalid {
    border-width: 2px;
    border-color: var(--soft-red);
}

.email-input input {
    background-color: transparent;
    border: 0;
    font: inherit;
    color: inherit;

    padding: 1rem;
    margin-left: 2rem;
    font-size: 1.25rem;

    flex: 1;
}

.email-input input:focus-visible {
    outline: 0;
}

.email-input button {
    position: absolute;
    right: -2px;
    bottom: -2px;
    padding: 1.1rem 3rem;
    background-image: linear-gradient(135deg, var(--soft-pink), var(--pink));
    border-radius: 2rem;

    box-shadow: 0 7px 15px 5px hsla(0, 36%, 70%, 0.35);
}

.email-input button:hover {
    right: -2px;
    bottom: -3px;
    padding: 1.15rem 3rem;
    background-color: var(--soft-pink);
    background-image: none;
}

.email-input.invalid button {
    right: -2px;
    bottom: -3px;
    padding: 1.15rem 3rem;
}
