* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    background: hsl(233, 47%, 7%);
    width: 100vw;
    height: 800px;
}

.stats_preview {
    margin: auto;
    display: flex;
    background: hsl(244, 38%, 16%);

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);

    border-radius: .75rem;
    overflow: hidden;
}

.stats_preview__content {
    margin: 3rem 8rem 0 4rem;
}

.stats_preview__heading {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.stats_preview__heading--emphasis {
    color: hsl(277, 64%, 61%);
}

.stats_preview__content p {
    line-height: 2rem;
    margin: 2rem 0 5rem;
}

.stats_preview__stats {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6)
}

.stats_preview__stat--number {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
}

.stats_preview__hero {
    position: relative;
}

.stats_preview__hero--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(277, 56%, 58%);
    mix-blend-mode: multiply;
}

@media screen and (min-width: 376px) {
    .stats_preview--desktop {
        width: 1200px;
        height: 446px;
    }

    .stats_preview__hero--mobile {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .container {
        height: 1000px;
    }

    .stats_preview--mobile {
        display: block;
        width: 300px;
    }

    .stats_preview__hero--desktop {
        display: none;
    }

    .stats_preview__hero {
        width: 300px;
        height: 221px;
    }

    .stats_preview__hero img {
        object-fit: contain;
        width: 300px;
    }

    .stats_preview__content {
        margin: 2rem 1.5rem 0;
        text-align: center;
    }

    .stats_preview__content p {
        line-height: 2rem;
        margin: 2rem 0 2.5rem;
    }

    .stats_preview__heading {
        font-size: 1.8rem;
    }

    .stats_preview__stats {
        display: block;
        margin-bottom: 3rem;
    }

    .stats_preview__stat {
        margin-bottom: 2.5rem;
    }

    .stats_preview__stat--number {
        display: block;
        font-size: 2rem;
        margin-bottom: .75rem;
    }
}
