:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-gray: hsl(303, 10%, 53%);
    --light-gray: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
}

h1 {
    padding: 0;
    margin: 0;
}

.debug {
    outline: solid 1px var(--very-dark-magenta);
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: var(--dark-gray);
}

.social-proof {
    width: 100%;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left 325px, bottom 25px right 225px;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 185px;
}

.flex {
    display: flex;
}

.social-proof-hero {
    width: 50%;
}

.social-proof-hero h1 {
    color: var(--very-dark-magenta);
    font-size: 3rem;
    font-weight: 700;
}

.rating-card {
    width: 445px;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--light-gray);
    margin-top: 1.25rem;
    border-radius: 0.5rem;
}

.rating-card span {
    margin-left: 2rem;
    color: var(--very-dark-magenta);
    font-size: 0.8rem;
    font-weight: 700;
}

.rating-card:nth-of-type(2) {
    margin-left: calc(3rem * 1);
}

.rating-card:nth-of-type(3) {
    margin-left: calc(3rem * 2);
}

.rating-card__star {
    margin-right: 0.25rem;
}

.testimonials {
    margin-top: 4rem;
}

.review-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 235px;
    background-color: var(--very-dark-magenta);
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.review-card:nth-of-type(2) {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.review-card:nth-of-type(3) {
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.review-card__profile {
    display: flex;
    margin-top: 1rem;
}

.review-card__profile-about {
    margin-left: 1.5rem;
}

.review-card__profile-name {
    color: var(--white);
    font-weight: 500;
}

.review-card__profile-role {
    color: var(--soft-pink);
    margin-top: 0.25rem;
}

.review-card__profile img {
    border-radius: 50%;
}

.review-card__testimonial {
    margin-top: auto;
    color: var(--light-gray);
    line-height: 1.5rem;
}
